body{
  height:700px;
  width:100%;
 
}


.main-container{

  display: flex;
  flex-direction: column;
}
.top{
 
  display: flex;
}
img{
  height:400px;
  width:100%;
}
.top h1,h2,h3{
margin:30px;
width:100%;
font-size: 25px;
}
.apple{
  color:red;
  font-size: 28px;
}
.text{
  margin:20px;
}
.part-1{
  flex-basis:40%;
  

}
.part-2{
  flex-basis:60%;
 

}

.sections{
  text-align: center;
  color:blue;
  margin:30px;
  font-size: 25px;
}

.sections div{
  margin:20px;
}
.container-about{
  margin:80px;
  margin-right: 0;
  background-color: #E4939370;
  padding:20px;
  line-height: 30px;
  border-radius: 20px;
  width:60%;
  display: inline-block;
}
.about-title{
  text-align: center;
}
.watch{
  height:40%;
  width:30%;
  float: right;
}
.service-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0;
  background-color: #19A7CE50;
}

.service-item {
  text-align: center;
  max-width: 300px;
}

.service-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.service-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  align-items: start;
}

.service-description {
  font-size: 16px;
}


.main-contact{
  background-color: #AD7BE950;
}
.container {
 
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 120px;
}

.form-group button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #45a049;
}

@media(max-width:576px){
    .top{
      flex-direction: column;
    }
    .service-container{
      flex-direction: column;
    }
    .container-about{
      margin:20px;
      margin-right: 0;
      background-color: #E4939370;
      padding:20px;
      line-height: 25px;
      border-radius: 20px;
      width:90%;
    }
    .watch{
      height:400px;
      width:400px;
    }

}